name: Front CI

on: [ push, pull_request ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build -t pcanohuoc/wizard-ui:latest .

      - name: Publish Docker image
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push pcanohuoc/wizard-ui:latest
