name: Front CI

on: [ push, pull_request ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image in Production environment
        run: |
          docker build --build-arg ENVIRONMENT=production -t pcanohuoc/wizard-ui:latest .

      - name: Publish Docker image to Docker Hub for Production environment
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push pcanohuoc/wizard-ui:latest                      

      - name: Build Docker image in Staging environment
        run: |
          docker build --build-arg ENVIRONMENT=production -t pcanohuoc/wizard-ui:staging .

      - name: Publish Docker image to Docker Hub for Staging environment
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push pcanohuoc/wizard-ui:staging
